body {
    background-color : #1d1d1d;
    color : lightgray;
}

p.block {
    color : lightgrey;
    margin-left : auto;
    margin-right : auto;
    width : 30em;
}

h1{
    color : lightgrey;
    text-align : center;
}

h3 {
    color : lightgray;
    text-align : left;
    margin-left : auto;
    margin-right : auto;
    width : 30em;
}

ul.noStyle {
    margin-left : auto;
    margin-right : auto;
    width : 33em;
    list-style-type : none;
}

a{
    color : #0abaff;
}
