@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    background-color : #1d1d1d;
    color : lightgray;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

p.block {
    color : lightgrey;
    margin-left : auto;
    margin-right : auto;
    width : 30em;
}

h1{
    color : lightgrey;
    text-align : center;
}

h3 {
    color : lightgray;
    text-align : left;
    margin-left : auto;
    margin-right : auto;
    width : 30em;
}

ul.noStyle {
    margin-left : auto;
    margin-right : auto;
    width : 33em;
    list-style-type : none;
}

a{
    color : #0abaff;
}

nav ul{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    background-color: black;
}

li h2{
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a.navLink:link{
    color: lightgray;
    text-decoration: none;
}

a.navLink:visited{
    color: lightgray;
    text-decoration: none;
}

a.navLink:hover{
    color:white;
}

ul.imgList{
  margin: 0 auto;
  text-align: center;
}

li.imgList{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: block;
  vertical-align: top;
}


img.imgLink {
  width: 100%;
  height: auto;
  animation-name: unhoverImage;
  animation-duration: 0.2s;
  filter: brightness(0.7);
}

img.imgLink:hover{
  animation-name: hoverImage;
  animation-duration: 0.2s;
  filter: brightness(1);
}

@keyframes hoverImage {
  from {filter: brightness(0.7);}
  to {filter: brightness(1);}
}

@keyframes unhoverImage {
  from {filter: brightness(1);}
  to {filter: brightness(0.7);}
}
