body {
    background-color : #1d1d1d;
}

p.block {
    color : lightgrey;
    margin-left : auto;
    margin-right : auto;
    width : 20em;
}

h1{
    color : lightgrey;
    text-align : center;
}

h3 {
    color : lightgray;
    text-align : center;
}

ul {
    text-align : center;
    list-style-type : none;
}


a{
    color : #0abaff;
}
